### STS ###
.apt-generated
.classpath
.factorypath
.project
.springBeans
.sts4-cache
.log
.bash_profile
.sql

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Maven ###
target/
.ideaDataSources/
/projectFilesBackup